<div class="alert alert-info" role="alert"><strong>Snap!</strong> you've found us</div>

<div class="jumbotron center">

	<div class="page-header">
	
		<h1>This team <small>is dope</small></h1>
	
		<h2>You can't really get any better that this, I mean talk about the dreamteam. It's hot</h2>

</div>



</div>